.aboutProfilePicture{
    border-radius: 100%;
    height: 32vh;
    width: auto;
    box-shadow: 0px 0px 91px 50px #1b869467;
    border: 3px solid white;
}

.aboutContent{
    display: flex;
    height: 100%;
    width: 100%;
}

.about-header-container{
    position: absolute;
    left: .5vw;
    overflow-x: hidden;
    overflow-y: scroll;
    align-self: center;
    justify-self: center;
    text-align: center;
    height: 60vh;
}

.about-header-container::-webkit-scrollbar {
    width: .5rem;
}
   
.about-header-container::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.2);
    border-radius: 1rem;
    height: 90%;
}
   
.about-header-container::-webkit-scrollbar-thumb {
    background-color: rgb(18,122,146);
    outline: 1px solid slategrey;
    border-radius: 1rem;
  }

.background-list-container{
    position: absolute;
    right: .5vw;
    overflow-y: scroll;
    overflow-x: hidden;
    align-self: center;
    justify-self: center;
    text-align: center;
    height: 60vh;
    width: 60vw;
    background-color: rgba(0,0,0,0.1);
    border-radius: 1rem;
}

.about-header-text{
    width: 35vw;
    height: 20vh;
    line-height: 1.7rem;
}

.about-text-bullet{
    font-size: .9rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.background-list-container::-webkit-scrollbar {
    width: .5rem;
}
   
.background-list-container::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.2);
    border-radius: 1rem;
    height: 90%;
}
   
.background-list-container::-webkit-scrollbar-thumb {
    background-color: rgb(18,122,146);
    outline: 1px solid slategrey;
    border-radius: 1rem;
  }

  @media (max-width: 800px) {
    .aboutContent{
        flex-direction: column;
        align-items: center;
        height: 100%;
        width: 100%;
    }

    .about-header-container{
        position: relative;;
        overflow-x: hidden;
        overflow-y: visible;
        height: 100%;
        margin: 1rem;
        text-align: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        width: 80vw;

    }

    .background-list-container{
        overflow-x: hidden;
        overflow-y: visible ;
        position: relative;;
        height: auto;
        background-color: rgba(0,0,0,0.1);
        border-radius: 1rem;
        height: 100%;
        margin: 1rem;
        width: 80vw;
        text-align: center;
        align-items: center;
        display: flex;
        flex-direction: column;
    }

    .about-header-text{
        width: 50vw;
        height: 20vh;
        line-height: 1.7rem;
    }
  }