.header-container{
    background: url("https://momswebsitereal.s3.eu-central-1.amazonaws.com/Background+Pictures/HeaderPic.jpg") ;
    background-repeat: no-repeat;
    background-size: 100% 28vh;
    width: 100vw;
    height: 28vh;
    display: flex;
    justify-content: space-between;
    box-shadow: -0px -55px 20px 2px rgb(18, 123, 146) inset;
}

.HeaderTextContainer{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 25%;
    border-radius: .5rem;
    padding: .5rem;
}

.HeaderTextContainer > a:hover{
    border: 0px solid white;
    padding: 0;
}

.header-text{
    color: black;
    font-size: 2.7rem;
    font-weight: bold;
    align-self: center;
}

.header-container > a:hover{
    border: 0px solid white;
    margin: -8px;
}

.logo-image{
    margin-top: 1vh;
    max-height: 8vh;
    width: auto;
    border-radius: 50%;
}
@media (max-width: 800px) {

    .header-container{
        background: url("https://momswebsitereal.s3.eu-central-1.amazonaws.com/Background+Pictures/HeaderPic.jpg") ;
        background-repeat: no-repeat;
        background-size: 100vw 15vh;
        width: 100vw;
        height: 20vh;
        text-align: center;
        display: flex;
        justify-content: space-between;
        box-shadow: -0px -60px 20px 2px rgb(18, 123, 146) inset;

    }
    
    .HeaderTextContainer{
        display: flex;
        flex-direction: column;
        text-align: top;
        align-items: center;
        justify-content: center;
    }
    
    .HeaderTextContainer > a:hover{
        border: 0px solid white;
        padding: 0;
    }
    
    .header-text{
        color: black;
        font-size: 1.5rem;
        font-weight: bold;
        align-self: center;
    }
    .logo-image{
        max-height: 5vh;
        width: auto;
        border-radius: 50%;
        margin-right: 2vw;
    }

}
